<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>籃球數據分析</title>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        {% block style %}
        {% endblock %}
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container mt-5">
            {% block content %}
            {% endblock %}
        </div>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/all.min.js') }}"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>